#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.map-loader-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-loader {
    background: url('./../../assets/imgs/youps_loader.svg');
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
}
